<div class="side-bar-container">
  <div class="side-menu">
    <form #channelForm="ngForm">
      <h2>Add Channel</h2>
      <input
        type="text"
        [(ngModel)]="channel.name"
        name="name"
        placeholder="Enter your channel name"
        required
      />
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="addChannel()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </form>

    <div
      class="channels-name"
      *ngFor="let channel of channels"
    >
      <a [routerLink]="['/channel/' + channel.customIdName]"><span># {{ channel.name }}</span></a>
    </div>
  </div>

  <span
    class="dashboard"
    *ngIf="route.url !== '/dashboard'"
    color="accent"
    routerLink="/dashboard"
  >
    # Dashboard
  </span>
</div>

<div class="select-container">
  <h2>Direct Messages</h2>

  <mat-form-field
    appearance="fill"
    class="select"
  >
    <mat-label>Select User</mat-label>
    <mat-select
      multiple
      [(value)]="selectedValue"
    >
      <mat-option
        *ngFor="let user of selectedUsers"
        [value]="user"
        required
      >
        {{ user.userName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="dm-users">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="addDirectMessage()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <div
    class="dm-container"
    *ngFor="let directMessage of directMessages"
  >
    <a [routerLink]="['/directMessage/' + directMessage.customIdName]">
      {{ directMessage.directMessageName }}
    </a>
  </div>
</div>
