<div class="channel-content">

  <div class="channel-texts">

    <h2># {{ channelName }}</h2>

    <form #messageForm="ngForm">
      <mat-form-field class="massage-title" appearance="fill">
        <mat-label>Message</mat-label>
        <textarea type="text" [(ngModel)]="chat.message" name="message" matInput placeholder="Enter your Message"
          required contenteditable="true" spellcheck="true">
    </textarea>
      </mat-form-field>

      <div class="btns">
        <div (click)="uploadFile.click()">
          <button mat-raised-button color="primary">Add Picture</button>
          <span>{{ file?.name }}</span>
          <input #uploadFile (change)="chooseFile($event)" type='file' name="img" style="display:none" />
        </div>
        <!-- <button mat-raised-button color="primary" (click)="addData()">
          <mat-icon>add</mat-icon>
        </button> -->
      </div>
      <button mat-flat-button color="accent" type="submit" (click)="sendMessage()"
        [class.disabled]="messageForm.invalid" [disabled]="messageForm.invalid">
        Send
      </button>
    </form>

    <div class="chats" *ngFor="let chat of chats">
      <div class="user-name">
        {{ chat.author }}
      </div>
      <div class="chat">
        <p>{{ chat.message }}</p>

        <div class="big-img">
          <img (click)="openImg(chat)" *ngIf="chat.img" [src]="chat.img">
          <img id="delete" src="assets/img/delete.png" (click)="deleteImg(chat)">
        </div>

        <a (click)="showThread(chat)">Antworten</a>
      </div>
      <div class="edit-delete-btn">

        <button mat-mini-fab (click)="showEditContainer(chat)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-mini-fab color="warn" (click)="deleteChat(chat)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="edit-chat-container" *ngIf="chat.schowEditContainer">
        <mat-form-field class="massage-title" appearance="fill">
          <mat-label>Message</mat-label>
          <textarea type="text" [(ngModel)]="chat.editedMessage" name="message" matInput placeholder="Enter your Message"
            required contenteditable="true" spellcheck="true">
      </textarea>
        </mat-form-field>

        <button mat-mini-fab color="warn" (click)="editChat(chat)">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="CloseEditChat(chat)">
          <mat-icon>close</mat-icon>
        </button>

      </div>
    </div>
  </div>

  <app-thread class="hide" (hide)="show=$event" [class.show]="show" *ngIf="!!currentChat || show" [chat]="currentChat">
    <!-- (hide)="show=$event"  Angular to way binding -->
  </app-thread>

</div>

