:host {
  flex: 1;
}

h2 {
  color: white;
}

form {
  background-color: #303030;
  border-radius: 16px;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid;
  margin-bottom: 20px;

  button {
    // width: 50px;
    align-self: flex-end;
    margin-bottom: 16px;
  }
}

.width {
  width: 90% !important;
}

mat-form-field {
  width: 100%;
}

mat-label {
  color: #69f0ae;
}

textarea {
  height: 50px;
  outline: none;
  resize: none !important;
  padding: 16px;
}

.chats {
  width: 90%;
  color: white;
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 24px;
}

.chat {

  display: flex;
  flex-direction: column;
  background: #454545;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 16px;
  border-radius: 16px;
  word-break: break-all;

  span {
    background: #69f0ae;
    width: 100px;
    text-align: center;
    padding: 6px;
    border-radius: 16px;
  }

  p {
    margin-top: 24px;
  }

  a {
    align-self: flex-end;
    color: white;
  }

  img {
    width: 280px;
    height: 200px;
    border-radius: 16px;
    object-fit: cover;
    cursor: pointer;
  }
}

.channel-content {
  width: 100%;
  display: flex;
  // align-items: center;
  justify-content: center;
  height: 100vh;
}

.user-name {
  background: #69f0ae;
  display: flex;
  width: 100px;
  justify-content: center;
  border-radius: 16px;
  color: black;
  font-weight: 500;
  padding: 4px;
}

.channel-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: relative;

  h2 {
    margin-top: 20px;
    font-size: 28px;
  }
}


.btns {
  display: flex;
  margin-top: 16px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  span {
    margin-left: 20px;
  }
}

.bigImg {

  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.big-img {
  display: flex;
  flex-direction: column;

  button{
    margin-top: 20px;
  }

}

.hide {
  display: none;
}

.show {
  display: flex;
}

.show-btn{
  display: block;
}
