<div
  class="channel-content"
  id="channel-content"
>
  <div
    class="channel-texts"
    [class.hide-chat-channel]="show"
  >
    <div class="channel-header">
      <h2># {{ channelName }}</h2>
    </div>


    <div class="all-messages">


      <div
        class="chats"
        *ngFor="let chat of chats"
      >
        <div class="user-name">
          {{ chat.author }}
        </div>
        <div class="chat">
          <p [class.code]="chat.codeBlock">{{ chat.message }}</p>
          <div class="big-img">
            <img
              (click)="openImg(chat)"
              *ngIf="chat.img"
              [src]="chat.img"
            />
            <img
              id="delete"
              src="assets/img/delete-24.png"
              (click)="deleteImg(chat)"
            />
          </div>
        </div>
        <div class="edit-delete-btn">
          <div>
            <img
              src="assets/img/icons8-edit-32.png"
              (click)="showEditContainer(chat)"
            >
            <img
              src="assets/img/icons8-delete-32.png"
              (click)="deleteChat(chat)"
            >
          </div>
          <a (click)="showThread(chat)">Antworten</a>
        </div>
        <div
          class="edit-chat-container"
          *ngIf="chat.schowEditContainer"
        >
          <textarea
            type="text"
            [(ngModel)]="chat.message"
            name="message"
            placeholder="Enter your Message"
            required
            contenteditable="true"
            spellcheck="true"
          >
          </textarea>

          <div class="save-close-chat">
            <img
              src="assets/img/icons8-save-24.png"
              (click)="editChat(chat)"
            >
            <img
              src="assets/img/icons8-close-24.png"
              (click)="CloseEditChat(chat)"
            >
          </div>
        </div>
      </div>
    </div>
    <form #messageForm="ngForm">

      <label>Message</label>
      <textarea
        contenteditable="true"
        [class.code]="codeBlock"
        type="text"
        [(ngModel)]="chat.message"
        name="message"
        placeholder="Enter your Message"
        required
        spellcheck="true"
      >
    </textarea>


      <div class="btns">
        <div (click)="uploadFile.click()">
          <!-- <button
            mat-raised-button
            color="primary"
          >Add Picture</button> -->
          <img
            id="img-folder"
            src="assets/img/icons8-pictures-folder-32.png"
          >
          <span>{{ file?.name }}</span>
          <input
            #uploadFile
            (change)="chooseFile($event)"
            type="file"
            name="img"
            style="display: none"
          />
        </div>
        <img id="send-message"
          src="assets/img/icons8-send-30.png"
          (click)="sendMessage()"
        >
      </div>
    </form>
  </div>

  <app-thread
    class="hide"
    (hide)="show = $event"
    [class.show]="show"
    *ngIf="!!currentChat || show"
    [chat]="currentChat"
  >
    <!-- (hide)="show=$event"  Angular to way binding -->
  </app-thread>

</div>
