form {
  background-color: #303030;
  border-radius: 16px;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  width: 90%;

  button {
    width: 50px;
    align-self: flex-end;
    margin-bottom: 24px;
  }
}

.width {
  width: 90% !important;
}

mat-form-field {
  width: 100%;
}

mat-label {
  color: #69f0ae;
}

textarea {
  height: 50px;
  outline: none;
  resize: none;
  padding: 16px;
}

.chats {
  width: 90%;
  color: white;
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 24px;
}

.chat {

  display: flex;
  flex-direction: column;
  background: #454545;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 16px;
  border-radius: 16px;
  word-break: break-all;

  span {
    background: #69f0ae;
    width: 100px;
    text-align: center;
    padding: 6px;
    border-radius: 16px;
  }

  p {
    margin-top: 24px;
  }

  a {
    align-self: flex-end;
    color: white;
  }
}

.channel-content {

  display: flex;
  // align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}

.user-name {
  background: #69f0ae;
  display: flex;
  width: 100px;
  justify-content: center;
  border-radius: 16px;
  color: black;
  font-weight: 500;
  padding: 4px;
}

.channel-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  border-left: 1px solid black;

  h2{
    margin-top: 20px;
  }
}
