<div class="channel-content">

  <div class="channel-texts">

    <h2>#Channel1</h2>

    <form #messageForm="ngForm">
      <mat-form-field class="massage-title" appearance="fill">
        <mat-label>Message</mat-label>
        <textarea type="text" [(ngModel)]="chat.message" name="message" matInput placeholder="Enter your Message"
          required>
    </textarea>
      </mat-form-field>
      <button mat-flat-button color="accent" type="submit" (click)="sendMessage()"
        [class.disabled]="messageForm.invalid" [disabled]="messageForm.invalid">
        Send
      </button>
    </form>

    <div class="chats" *ngFor="let chat of chats">
      <div class="user-name">
        {{ chat.author }}
      </div>
      <div class="chat">
        <p>{{ chat.message }}</p>
        <a (click)="showThread(chat)">Antworten</a>
      </div>

    </div>
  </div>

  <app-thread class="hide" [class.show]="show" *ngIf="!!currentChat" [chat]="currentChat"></app-thread>

</div>
