:host {
  flex: 1;
}

form {
  border-radius: 16px;
  padding: 8px;
  color: black;
  display: flex;
  flex-direction: column;
  width: 94%;
  border: 1px solid lightgrey;
  button {
    // width: 50px;
    align-self: flex-end;
  }
  // @media(max-width: 1024px){
  //   width: 94%;
  // }
}

#img-folder{
  cursor: pointer;
}
#send-message{
  cursor: pointer;
}

.width {
  width: 90% !important;
}

mat-form-field {
  width: 100%;
}

mat-label {
  color: #69f0ae;
}

textarea {
  margin-bottom: 10px;
  outline: none;
  resize: none !important;
  border: none;
}

.chats {
  width: 90%;
  color: white;
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 8px;
  margin-bottom: 24px;
  background-color: #f7f7f7;
}

.chat {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 16px;
  word-break: break-all;
  min-height: 25px;
  color: black;

  span {
    background: #69f0ae;
    width: 100px;
    text-align: center;
    padding: 6px;
    border-radius: 16px;
  }
  p {
    margin-bottom: 0;
    word-break: break-word;
  }

  img {
    width: 180px;
    height: 100px;
    border-radius: 16px;
    object-fit: cover;
    cursor: pointer;
  }
}

.channel-content {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
    @media (max-width: 650px) {
    width: 100vw;
  }
  @media (min-width: 650px) {
    width: 100%;
  }
}

.channel-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  // border-left: 1px solid black;
  // border-right: 1px solid black;
  position: relative;
  min-height: calc(100vh - 71px);
  @media(max-width:1024px){
    width: 100%;
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    color: black;
  }
}

.btns {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  span {
    margin-left: 20px;
  }
}

.bigImg {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.big-img {
  display: flex;
  width: fit-content;
  margin-top: 16px;

  #delete {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    border-radius: 0 !important;
    cursor: pointer;
    margin-top: 5px;
    display: none;
  }
}

.big-img:hover #delete {
  display: flex !important;
}

.hide {
  display: none;
}

.show {
  display: flex;
  flex: 1;
  border-left: 1px solid lightgrey;
}

.show-btn {
  display: block;
}

.edit-delete-btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: black;
  button {
    margin-right: 10px;
  }
  a {
    &:hover {
      transform: scale(1.1);
      transition: all 225ms ease-in-out;
    }
  }
  img{
    cursor: pointer;
    margin-right: 10px;
    height: 24px;
    width: 24px;
  }
}

.save-close-chat{
  display: flex;
  align-items: center;
  img{
    margin-left: 10px;
    cursor: pointer;
  }
}

.edit-chat-container {
  button {
    margin-left: 16px;
    @media(max-width: 1024px){
      margin-left: 0;
      margin-right: 10px;
    }
  }
}

// .activatedCodeBlock {
//   background-color: #7b7a7a;
// }

.img-code {
  height: 32px;
  width: 32px;
  cursor: pointer;
  align-self: baseline;
  margin-bottom: 28px;
  margin-right: 18px;
}

.code {
  background-color: #f44336;
  min-height: 25px;
  padding: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
}
.code-btns {
  display: flex;
  justify-content: center;
  align-self: baseline;
}

.code-block {
  background-color: #f44336;
  height: 40px;
  min-width: 25px;
  border: 1px solid black;
  margin-left: 10px;
}

.code-content {
  height: 40px;
  display: flex;
}

.chat-message {
  height: 50px;
  background-color: lightgray;
  color: black;
  padding: 6px;
}

.massege-container {
  min-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}
code {
  background-color: #f44336;
}

.all-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 60vh;
  overflow: auto;
}

.edit-chat-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  textarea {
    color: black;
    width: 50%;
    border: 1px solid lightgrey;
    outline: none;
    border-radius: 4px;
    height: 40px;
    padding: 10px;
    @media(max-width: 1024px){
      width: 83%;
    }
  }
  @media(max-width: 1024px){
    flex-direction: column;
    align-items: flex-start;
  }
}

.channel-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 82%;
}

.d-none{
  display: none;
}

.d-show{
  display: block;
}

.hide-chat-channel{
  @media(max-width:1024px){
    display: none;
  }
}
