mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #3f0e40;
  color: white;
  height: 50px;

  a {
    color: white;
  }
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 630px) {
    display: none;
  }

  mat-icon {
    margin-right: 10px;
  }
}

.bg-side-bar {
  background-color: #3f0e40;
  border-bottom: 1px solid #393939
}
