mat-toolbar{
  display: flex;
  justify-content: space-between;

  a{
    color: white;
  }
}
.user{
  display: flex;
  justify-content: center;
  align-items: center;

  @media(max-width:630px){
    display: none;
  }

  mat-icon{
    margin-right: 10px;
  }
}
