<mat-toolbar>
  <a routerLink="/"><span>Slack Clone</span></a>

  <!-- Show if User logged in -->
  <ng-container *ngIf="authService.currentUser$ | async as user">
    <div class="user">
      <mat-icon>account_circle</mat-icon>
      {{ user.displayName | uppercase }}
    </div>

    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </ng-container>

</mat-toolbar>


<div class="content">

  <app-side-bar-menu  *ngIf="( route.url !== '/' && route.url !=='/signup')
   && ( authService.currentUser$ | async) as user"></app-side-bar-menu>

  <router-outlet></router-outlet>

</div>

<app-footer></app-footer>
