<div class="user-chat-container">
  <span class="user-name">{{ userName }}</span>

  <form #directchatForm="ngForm">
    <mat-form-field class="massage-title" appearance="fill">
      <mat-label>Message</mat-label>
      <textarea type="text" name="message" matInput
       [(ngModel)]="directChat.directChatMessage"
        placeholder="Enter your Message" required
         contenteditable="true" spellcheck="true">
</textarea>
    </mat-form-field>
    <button mat-flat-button color="accent" type="submit" (click)="sendDirectMessage()">
      Send
    </button>
  </form>

  <div class="direct-chat" *ngFor="let directChat of directChats">
    <div class="author">
      <span>{{directMessagesData.author}}</span>
    </div>

    <div class="direct-message">

      {{ directChat.directChatMessage }}

    </div>
  </div>
</div>
