<div class="user-chat-container">
  <div class="dm-header">
    <h2>Direcktnachrichten</h2>
    <h3>{{ usersName }}</h3>
  </div>
  <div class="all-dms">
    <div
      class="direct-chat"
      *ngFor="let directChat of directChats"
    >
      <div class="author">
        <span>{{directChat.directChatAuthor}}</span>
      </div>
      <p >
        {{ directChat.directChatMessage }}
      </p>
    </div>

  </div>

  <form #directchatForm="ngForm">
    <label>Message</label>
    <textarea
      type="text"
      name="message"
      matInput
      [(ngModel)]="directChat.directChatMessage"
      placeholder="Enter your Message"
      required
      contenteditable="true"
      spellcheck="true"
    >
</textarea>
    <button
      mat-flat-button
      color="accent"
      type="submit"
      (click)="sendDirectMessage()"
      [class.disabled]="directchatForm.invalid"
      [disabled]="directchatForm.invalid"
    >
      Send
    </button>
  </form>
</div>
