// mat-toolbar{
//   display: flex;
//   justify-content: space-between;
// }
// .user{
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   mat-icon{
//     margin-right: 10px;
//   }
// }


.dashboard-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  padding-top: 50px;
  border-left: 1px solid black;
  color: white;

  h1 {
    margin-top: 50px;
  }
}
