<div class="forgot-password-content">



<div class="form-container mat-elevation-z5">

  <h1>Forgot Password</h1>
  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">

      <mat-form-field>
          <input matInput  placeholder="Email Address" formControlName="email">
          <mat-error *ngIf="email?.errors?.['email']"> Please enter a correct email format </mat-error>
      </mat-form-field>


      <div class="center margin-top">
          <button mat-raised-button color="primary" type="submit">Reset</button>
      </div>

      <div class="center margin-top">
        <button routerLink="/" mat-raised-button color="warn" type="submit">Back</button>
    </div>
  </form>

</div>

</div>
