@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-gray, 50);
$my-accent: mat-palette($mat-gray, 50);

$my-theme: mat-light-theme($my-primary, $my-accent);

@include angular-material-theme($my-theme);
