.threads {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  color: white;

  h2 {

    margin-top: 20px;
  }
}

.thread {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 16px;
  padding: 16px;
  margin-left: 10px;
  min-height: 200px;

  span {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  button{
    width: 50px;
  }
}
