.threads {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  min-height: calc(100vh - 226px);
  // textarea {
  //   color: black;
  //   width: 90%;
  //   border: 1px solid lightgrey;
  //   outline: none;
  //   border-radius: 4px;
  //   margin-bottom: 20px;
  // }
  h2 {
    margin-top: 20px;
    font-size: 24px;
  }
}

.thread {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 16px;
  min-height: 50px;
  width: 80%;
  word-break: break-all;
  color: black;
  background-color: #f7f7f7;

  @media (max-width: 1250px) {
    width: 300px;
  }

  @media (max-width: 1050px) {
    width: 200px;
  }

  @media (max-width: 630px) {
    width: 80%;
  }

  span {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
    margin-left: 6px;
  }
}

form {
  border-radius: 16px;
  padding: 16px;
  color: black;
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 1px solid lightgrey;
  margin-top: 14px;

  button {
    width: 50px;
    align-self: flex-end;
  }
}

textarea {
  height: 50px;
  outline: none;
  resize: none !important;
}

mat-label {
  color: #69f0ae;
}

.current-chat {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 16px;
  min-height: 50px;
  color: black;
  font-size: 16px;
  word-break: break-all;

  img {
    width: 180px;
    height: 100px;
    border-radius: 16px;
    margin-top: 10px;
    object-fit: cover;
    cursor: pointer;
  }
}

.thread-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  color: black;
}

.all-threads {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 69.5vh;
  overflow: auto;
  width: 100%;
}

.author {
  display: flex;
  min-width: 100px;
  border-radius: 16px;
  color: black;
  font-weight: 500;
}

textarea{
  height: 25px;
  outline: none;
  resize: none !important;
  border: none;
}

