.threads {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  max-height: calc(100vh - 51px);
  h2 {
    margin-top: 20px;
    font-size: 18px;
  }
}

.thread {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 8px;
  width: 80%;
  word-break: break-all;
  color: black;
  background-color: #f7f7f7;

  p {
    word-break: break-word;
  }
}

form {
  border-radius: 8px;
  padding: 8px;
  color: black;
  display: flex;
  flex-direction: column;
  width: 85%;
  border: 1px solid lightgrey;
  margin-top: 10px;
  height: 103px;

  button {
    width: 50px;
    align-self: flex-end;
  }
}

textarea {
  margin-bottom: 10px;
  outline: none;
  resize: none !important;
}

.current-chat {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 8px;
  color: black;
  font-size: 14px;
  word-break: break-word;

  img {
    width: 120px;
    height: 70px;
    border-radius: 16px;
    margin-top: 10px;
    object-fit: cover;
    cursor: pointer;
    align-self: flex-start;
  }
}

.thread-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  color: black;
  img{
    cursor: pointer;
  }
}

.all-threads {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 59vh;
  overflow: auto;
  width: 100%;
}

.author {
  display: flex;
  min-width: 100px;
  border-radius: 8px;
  color: black;
  font-weight: 500;
}
textarea {
  height: 25px;
  outline: none;
  resize: none !important;
  border: none;
}

#thread-send-img{
  height: 30px;
  width: 30px;
  align-self: flex-end;
  cursor: pointer;
}
