<div class="threads">
  <div class="thread-header">
    <h2>Threads</h2>
    <button (click)="hideThread()" mat-mini-fab><mat-icon>close</mat-icon></button>
  </div>


  <form #answerForm="ngForm">
    <mat-form-field class="massage-title" appearance="fill">
      <mat-label>Answer</mat-label>
      <textarea type="text" [(ngModel)]="thread.answer" name="answer" matInput placeholder="Enter your Message"
        required>
  </textarea>
    </mat-form-field>
    <button mat-flat-button color="accent" type="submit" (click)="addThread()"
      [class.disabled]="answerForm.invalid" [disabled]="answerForm.invalid">
      Send
    </button>
  </form>

  <div class="current-chat">
    <span>{{ chat.author }}</span>
    <span>{{ chat.message }}</span>
    <img *ngIf="chat.img" [src]="chat.img" (click)="openImg(chat)">
  </div>

  <div class="thread" *ngFor="let thread of threads">
    <span>{{thread.author}}</span>
    <p>{{ thread.answer }}</p>
  </div>
</div>
